@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #733702;
    --secondary-color: #F2F2E9;

    --font-poppins: 'Poppins', sans-serif;
}

* {
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.cardbox-login {
    padding: 60px;
} 

/* CONTEÚDO */

.cardbox-content h1 {
    position: relative;
    font-size: 1.7rem;
}

.cardbox-content h1::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--primary-color);
}

.cardbox-content p {
    font-size: 0.9rem;
}

/* FORMULÁRIO */

.cardbox-form .form-email,
.cardbox-form .form-password {
    display: flex;
    gap: 8px;
    margin: 20px 0;
    transition: all 0.3s;
}

.cardbox-form .form-email:hover,
.cardbox-form .form-password:hover {
    transform: scale(105%);
}

.cardbox-form .form-email input,
.cardbox-form .form-password input {
    width: 100%;
    padding: 5px;
}

.cardbox-form .form-email label,
.cardbox-form .form-password label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-submit button {
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

.form-submit button:hover {
    background-color: #894102;
}

.form-submit button:active {
    transform: scale(95%);
}

/* IMAGEM */

.cardbox-img {
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
}

.cardbox-img img {
    width: 100%;
    height: auto;
}