@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #733702;
    --secondary-color: #F2F2E9;

    --font-poppins: 'Poppins', sans-serif;
}

* {
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.cardbox-login {
    padding: 75px;
}

.cardbox-content h1 {
    position: relative;
    font-size: 2rem;
    margin-bottom: 5px;

}

.cardbox-content h1::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    top: 2px;
    background-color: var(--primary-color);
}

/* FORMULÁRIO */

.cardbox-form .form-email,
.cardbox-form .form-password {
    display: flex;
    gap: 8px;
}

.form-email,
.form-password {
    margin: 20px 0;
}

.cardbox-form .form-email input,
.cardbox-form .form-password input {
    width: 100%;
    padding: 5px;
}

.cardbox-form .form-email label,
.cardbox-form .form-password label {
    display: flex;
    align-items: center;
}

.form-password {
    position: relative;
}

.form-password span#eye {
    position: absolute;
    left: 322px;
    top: 5px;
    cursor: pointer;
}

.form-submit button {
    width: 100%;
    padding: 8px 0;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid black;
}

/* IMAGEM */

.img-content img {
    width: 100%;
    height: auto;
}