@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

@font-face {
    font-family: 'Monocode';
    src: url('fonts/monocode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAE1DF;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------ Header --------------------- */

header {
    min-height: 325px;
    height: 75vh;
    background: url('images/cosmetic13.jpg') no-repeat center;
    background-size: cover;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links .logo {
    color: black;
    text-decoration: none;
    background-color: rgb(227, 227, 227);
    font-size: 1.8em;
    margin: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    border: 2px solid black;
    border-radius: 0 20px 20px 20px;
    transition: 0.5s;
    font-family: 'Bad Script', cursive;
    font-weight: 900;
}

.links .logo:hover {
    transform: scale(105%);
    background-color: #f4eeed;
    text-decoration: underline;
}

.links p {
    margin: 15px 15px 0 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: rgba(0, 0, 0, 0.329);
    padding: 10px;
}

.links .link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.links .link:hover {
    background-color: #f4eeed;
    color: black;
    padding: 5px;
    text-decoration: underline;
}

.header-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-head .title {
    font-size: 3em;
    color: aqua;
}

.header-head .description {
    width: 400px;
    margin: auto;
}

/* ----------------- Main ----------------- */

main {
    background-color: white;
    margin: auto;
    margin-top: 5em;
    max-width: 1200px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.main-gallery {
    margin: auto    ;
    width: 70%;
}

.gallery01,
.gallery02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.gallery01 img,
.gallery02 img {
    margin-bottom: 20px;
}

.woman {
    max-width: 300px;
    transition: 0.2s;
    box-shadow: 10px 10px 0 tomato;

}

.woman:hover {
    transform: scale(110%);
    cursor: pointer;
}

.gallery01 p,
.gallery02 p {
    color: white;
    background-color: rgba(0, 0, 0, 0.796);
    padding: 20px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Zilla Slab', serif;
}

.main-gallery > p {
    margin-top: 50px;
    padding: 10px;
    background-color: #f4eeed;
    font-size: 1.1em;
    line-height: 25px;
    text-indent: 30px;
}

/* ------------------- Aside ------------------ */

.aside-gallery {
    margin: auto;
    width: 90vw;
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: #f4eeed;
    box-shadow: -10px 10px 0 black;
    border: 1px solid black;
}

.all-c {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.aside-gallery h2 {
    font-family: 'Monocode', monospace;
    text-align: center;
    font-size: 2.5em;
    margin: 30px 0;
}

.cosmetics {
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    transition: .2s;
}

.cosmetics:hover {
    transform: scale(105%);
    cursor: pointer;
}

.cosmetics:nth-child(even) {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .header-head .title {
        font-size: 4em;
    }

    .gallery01 {
        flex-direction: row;
    }

    .gallery02 {
        flex-direction: row-reverse;
    }

    .gallery01 p {
        margin-left: 50px;
    }

    .gallery02 p {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .header-head .title {
        font-size: 5em;
    }
}